<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-6">
        <h3> HOME PAGE </h3>
        </div>
        <div class="col-6 text-right">
            <a href="/logout">Logout</a>
        </div>
    </div> 
    <p>
        Manage a domain object: 
        <span sec:authorize="hasRole('ROLE_ADMIN')">- <a href="/user/list">User management</a></span>
        - <a href="/bidList/list">Bid List management</a>
        - <a href="/curvePoint/list">Curve Point management</a>
        - <a href="/rating/list">Rating management</a>
        - <a href="/trade/list">Trade management</a>
        - <a href="/ruleName/list">Rule Name management</a>
    </p>
</div>
</body>
</html>